<h1>CHAT GRUPAL :D</h1>

<form id="formChat">
    <label for="inputChat">Mensaje:</label>
    <input type="text" , id="inputChat" , name="inputChat"><br>
    <input type="submit" value="Enviar">
</form>

<div>
    <p id="messageLogs"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>