<section>
    <h1>Reestablece tu contrase침a</h1>

    <p>Introduce el correo electr칩nico en el cual quieres recibir el enlace para reestablecer tu contrase침a.</p>
    <p>Ten presente que el correo proporcionado debe ser el mismo con el que avs a iniciar sesi칩n.</p>

    <form id="forgotPasswordForm">
        <label for="email">Email:</label>
        <input type="text" , id="email" , name="email"><br>

        <input type="submit" value="Enviar mail!">
    </form>

    <p id="status" style="color: red;"></p>

</section>

<script src="/js/forgotPassword.js"></script>