<section>
    <h1>LOGEATE! :D</h1>

    <form id="formLogin">
        <label for="emailLogin">Email:</label>
        <input type="text" , id="emailLogin" , name="emailLogin"><br>

        <label for="password">Contraseña:</label>
        <input type="password" , id="password" , name="password"><br>

        <input type="submit" value="Iniciar sesión">
        <input type="button" value="Registrate!" id="redirectSingUp">
    </form>

    <a href="http://localhost:8080/api/sessions/github"><button>Iniciar sesión con GitHub</button></a>
</section>

<p id="status" style="color: red;"></p>

<script src="/js/login.js"></script>