<section>
    <h1>Reestablece tu contraseña :D</h1>

    <form id="resetPasswordForm">
        <label for="newPassword">Ingresa la nueva contraseña:</label>
        <input type="password" , id="newPassword" , name="newPassword"><br>

        <input type="submit" value="Guardar">
    </form>

    <p id="status" style="color: red;"></p>

</section>

<script src="/js/resetPassword.js" data-token="{{token}}" data-email="{{email}}"></script>